html, body {
	margin: 0;
	padding: 0;
	display: block;
}

body {
	font-family: LucidaGrande, sans-serif;
	min-width: 550px;
	margin-left: 0;
	margin-top: 0;
	display: block;
}

#controls {
	background-color: #EDEDED;
	border-right: 1px solid #888888;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 14px 8px;
	position: absolute;
	top: 0px;
	bottom: 1px;
	left: 0;
	width: 186px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.controlHeader {
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.control {
	border-top: 1px solid #ACACAC;
	width: 184px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 36px;
}

.heading {
	font-size: 13px;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 8px;
}

select, input {
	width: 100%;
	margin:	2px 0px;
}

a { text-decoration: none; }
a:link { color: #00008B; }
a:visited { color: #000080; }
a:hover { color: #4169E1; }

.heading a:link { color: #222222; }
.heading a:visited { color: #222222; }
.heading a:hover { color: #22228B; }

.hideItem {
	display: none;
}

#filterOptions {
	margin-top: 6px;
}

#content {
	background-color: white;
	display: block;
	left: 203px;
	min-width: 400px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	right: 0;
	z-index: 1;
	padding: 0;
}

#contentFrame {
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}
.clear {
	clear: left;
}

#colorButtonsTable {
	margin-top: 8px;
	margin-left: 2px;
	border: 0px solid #EDEDED;
	height: 22px;
}

#colorButtonsTable tr {
	height: 22px;
}
	
#colorButtonsTable td {
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px 2px;
	width: 24px;
}
	
#y-O {
	background-image: url(images/Y-O.png);
}

#y-C {
	background-image: url(images/Y-C.png);
}

#r-O {
	background-image: url(images/R-O.png);
}

#r-C {
	background-image: url(images/R-C.png);
}

#b-O {
	background-image: url(images/B-O.png);
}

#b-C {
	background-image: url(images/B-C.png);
}

#g-O {
	background-image: url(images/G-O.png);
}

#g-C {
	background-image: url(images/G-C.png);
}

#p-O {
	background-image: url(images/P-O.png);
}

#p-C {
	background-image: url(images/P-C.png);
}

#o-O {
	background-image: url(images/O-O.png);
}

#o-C {
	background-image: url(images/O-C.png);
}

#c-O {
	background-image: url(images/C-O.png);
}

#c-C {
	background-image: url(images/C-C.png);
}
